body {
    background-color: #b0b0b0;
}

.container {
    text-align: center;
}

.logo {
    font-family: Helvetica, sans-serif;
    color: #ff3900;
    font-size: 2.0em;
    text-align: center;
    margin: 50px 0;
}

.logo img {
    width: 50%;
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

.btn-facebook, .btn-facebook:hover {
    background-color: #3b5998;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 29px;
}

.icon-facebook {
    background: url('/assets/img/facebook.png') no-repeat;
    width: 29px;
    height: 29px;
    display: inline-block;
    position:relative;
    top: 1;
    line-height: 1;
}